ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid blue;
    background-color: #0f0144;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: black;
  }
  
  li a.active {
    color: black;
    background-color: #4CAF50;
  }
  body 
  {
  background-color: #282828;
    text-align: center;
    color: black;
    font-size: 45px;
  }
footer{
  text-align: center;
    color: black;
    font-size: 20px;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}
